<p style="color:red;" ng-hide=hideError>Fields cannot be empty!</p>
Enter name<input type="text" ng-model="newSwitch.name" required>
<br> Enter type  <input type="text" ng-model="newSwitch.type" required>
<br> Enter letter  <input type="text" ng-model="newSwitch.letter" required>
<br> Enter number  <input type="number" ng-model="newSwitch.number" required>
