<p style="color:red;" ng-hide=hideError>Fields cannot be empty!</p>
Enter name<input type="text" ng-model="newSensor.name" required>
<br> Enter type  <input type="text" ng-model="newSensor.type" required>
