<ion-view view-title="{{sensor.name}} {{sensor.type}}">
  <!-- no need
  <ion-nav-buttons side="right">
    <button class="right button button-icon icon ion-checkmark-round" ng-click="save()">Save</button>
  </ion-nav-buttons> -->
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item item-checkbox" ng-repeat="sw in switches">
        {{sw.name}} {{sw.type}}
        <label class="checkbox">
          <!-- checklist model not working f**it -->
          <input type="checkbox"  checklist-model="sensor.switches" checklist-value="sw.$loki">
        </label>
      </ion-item>
    </ion-list>
    {{sensor.switches | json}}
  </ion-content>
</ion-view>
