<ion-view view-title="Sensors">
    <ion-nav-buttons side="right">
      <button class="right button button-icon icon ion-plus" ng-click="insert()"></button>
    </ion-nav-buttons>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="sensor in sensors" href="#/tab/sensor/{{sensor.$loki}}">
          {{sensor.name}} {{sensor.type}} node:{{sensor.node}}
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
