<ion-view view-title="Switches">
  <ion-nav-buttons side="right">
    <button class="right button button-icon icon ion-plus" ng-click="insert()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="sw in switches">
        {{sw.name}} {{sw.type}} {{sw.letter}} {{sw.number}} <button class="right button button-icon icon ion-android-delete" ng-click="delete({{sw.$loki}})"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
