<ion-view view-title="Account">
  <ion-content class="padding">
    <form name="myForm" ng-submit="connect()">
      <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">IP Adress:</span>
        <input name="ipaddress" ng-model="account.ipaddress" ng-minlength="6" placeholder="192.168.5.5" ng-disabled="account.connected">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Port:</span>
        <input ng-model="account.port" name="port" placeholder="3000" ng-disabled="account.connected">
      </label>
    </div>
      <div class="padding">
        <p ng-show="myForm.ipaddress.$error.required">* IP Address is required</p>
        <p ng-show="myForm.ipaddress.$error.minlength">* IP Address too short</p>
        <p ng-show="myForm.port.$error.required">* Port is required</p>
      </div>
      <div class="padding">
        <input type="submit"  class="button button-positive button-block" value="{{account.connected?'Disconnect':'Connect'}}" ng-disabled="myForm.$invalid" >
      </div>
    </form>
    <button class="button button-positive"  ng-disabled="!account.connected" ng-click="fetchDatabase()"> Load config database</button><br><br>
    <button class="button button-positive"  ng-disabled="!account.connected" ng-click="uploadDatabase()"> Upload&Save config database</button>


  </ion-content>
</ion-view>
