<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Switches Tab -->
  <ion-tab title="Switches" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/switches">
    <ion-nav-view name="tab-switches"></ion-nav-view>
  </ion-tab>


  <!-- Sensors Tab -->
  <ion-tab title="Sensors" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/sensors">
    <ion-nav-view name="tab-sensors"></ion-nav-view>

  </ion-tab>

  <!-- Log Tab -->
  <ion-tab title="Log" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/log">
    <ion-nav-view name="tab-log"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>




</ion-tabs>
